{% extends "main.html" %}
{% block body %}
{% load static %}


<h2>A fim, de conhecemos os gostos dos nossos usuários, e assim  oferecer os melhores conteúdos voltados para cada público, 
    os categorizamos por genêros (Masculino e Feminino) e fizemos a seguinte pergunta: "Podemos usar o top 3 dos esportes favoritos,
    para trazer assunto relacionados a esses esses esportes? Esse rank se mantém para cada um dos genêros? ".  </h2>


<p>Levando em conta nosso banco de dados dos usuários, chegamos ao seguinte gráfico, que aponta o rankeamento geral dos esportes favoritos. </p>

<img class="grafico" src="{% static 'images/graf_ge0.png' %}" alt="gráfico ge1"/>
</p>

<p>Dado o gráfico chegamos ao top 3 geral dos esportes favoritos: <br>
    <ol>
        <li>Futsal</li> <br>
        <li>Futebol</li> <br>
        <li>Handebol</li> <br>
    </ol> 
</p> 
<br>
<p> Analisando os dados para descobrir os esportes favoritos do público feminino, temos o seguinte gráfico:  </p>

<p> 
<img class="grafico" src="{% static 'images/graf_ge1.png' %}" alt="gráfico ge1"/>
</p>


<p>Com top 3: <br>
    <ol>
        <li>Basquete</li> <br>
        <li>Vôlei</li> <br>
        <li>handebol</li> <br>
    </ol> 
</p> 


<p>Fazendo o mesmo, porém, para o público masculino, temos o seguite gráfico:</p>

<p>
<img class="grafico" src="{% static 'images/graf_ge2.png' %}" alt="gráfico ge2"/>
</p>

<p>Com  top 3: <br>
    <ol>
        <li>Futsal</li> <br>
        <li>Handebol</li> <br>
        <li>Futebol</li> <br>
    </ol> 
</p> 



<p>
    Logo, pela análise dos dados, chegamos à conclusão que não podemos levar em consideração o rankeamento geral
    dos esportes favoritos para trazer notícias sobre esses esportes aos nossos usuários. Explico: apesar que
    o top 3 dos esportes favoritos do público masculino serem os mesmos  do rakeamento geral, uma parcela muito grande
    do público feminino não se sentiria atraída e acolhida  para acessar a página. <br>
    Dessa forma, se queremos que todos se sintam aceitos e acolhidos pelo "Match Finder", devemos sempre ir em busca
    dos melhores conteúdos e, claro, atender os gostos de cada usuário. Afinal, cada pessoa é única.
</p>



<p> Segue abaixo um gráfico agrupado com as principais análises: </p>
<p>
    <img class="grafico" src="{% static 'images/graf_ge3.png' %}" alt="gráfico ge3"/>
</p>

{% endblock %}