@import url("https://fonts.googleapis.com/css2?family=Lacquer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap");
body {
  background-color: #ff91005b;
  margin: 10px;
  height: 100%;
}

header {
  position: fixed;
  background-color: #f27649;
  height: 162px;
  width: 100%;
  margin-top: -10px;
}

header #cadastro {
  position: relative;
  left: 90%;
}

header #registro {
  margin-bottom: 16px;
  margin-top: 8px;
}

header button {
  position: relative;
  top: 10px;
  border: none;
  background-color: #426CB4;
  padding-left: 40px;
  padding-right: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

header button:hover {
  background-color: #3F3464;
}

#preenchedor {
  height: 130px;
}

.logo-app {
  width: 307px;
  height: 130px;
  float: left;
  vertical-align: bottom;
}

h1 {
  color: #426CB4;
}

h2 {
  color: #426CB4;
  margin-top: 5%;
}

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color: #f27649;
}

table {
  background-color: #25c0c580;
  width: 100%;
}

tr {
  text-align: center;
}

tr.primeiro {
  background-color: gold;
}

tr.segundo {
  background-color: silver;
}

tr.terceiro {
  background-color: #8d6f37;
}

.dropbtn {
  background-color: #f27649;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: absolute;
  left: -10px;
  top: -10px;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
  top: 172px;
}

.dropdown:hover .dropbtn {
  background-color: #f27649;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f27649;
  min-width: 339px;
  min-height: 10px;
  -webkit-box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #426CB4;
  color: white;
}

.img-perfis-direita {
  width: 300px;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  text-align: right;
  float: right;
}

.img-perfis-esquerda {
  width: 300px;
  margin-right: 5%;
  margin-top: 5%;
  margin-left: 5%;
  text-align: left;
  float: left;
}

.descript-perfis {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color: #f27649;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}

.h2-perfis-direita {
  margin-left: 5%;
}

.espacamento {
  height: 100px;
}

#mapa {
  background-image: url(../images/mapa_rio.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 30%;
  top: 30%;
  height: 460px;
  width: 640px;
}

#mapa button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

#mapa button img {
  width: 32px;
}

#mapa button .fotos {
  position: fixed;
  left: 30px;
  top: 220px;
  width: 0px;
}

#mapa button:nth-child(1) {
  left: 550px;
  top: 200px;
}

#mapa button:nth-child(1):hover {
  left: 542px;
  top: 182px;
}

#mapa button:nth-child(1):hover img {
  width: 48px;
}

#mapa button:nth-child(1):hover .fotos {
  width: 400px;
}

#mapa button:nth-child(2) {
  left: 300px;
  top: 300px;
}

#mapa button:nth-child(2):hover {
  left: 292px;
  top: 282px;
}

#mapa button:nth-child(2):hover img {
  width: 48px;
}

#mapa button:nth-child(2):hover .fotos {
  width: 400px;
}

#mapa button:nth-child(3) {
  left: 140px;
  top: 300px;
}

#mapa button:nth-child(3):hover {
  left: 132px;
  top: 282px;
}

#mapa button:nth-child(3):hover img {
  width: 48px;
}

#mapa button:nth-child(3):hover .fotos {
  width: 400px;
}

#mapa button:nth-child(4) {
  left: 440px;
  top: 100px;
}

#mapa button:nth-child(4):hover {
  left: 432px;
  top: 82px;
}

#mapa button:nth-child(4):hover img {
  width: 48px;
}

#mapa button:nth-child(4):hover .fotos {
  width: 400px;
}

#mapa button:nth-child(5) {
  left: 380px;
  top: 200px;
}

#mapa button:nth-child(5):hover {
  left: 372px;
  top: 182px;
}

#mapa button:nth-child(5):hover img {
  width: 48px;
}

#mapa button:nth-child(5):hover .fotos {
  width: 400px;
}
/*# sourceMappingURL=custom.css.map */