@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');

$laranja: #f27649;
$laranja-escuro: #ee551d;
$laranja-claro: #ff91005b;
$azul-claro: #25c0c580;
$azul: #426CB4;
$azul-escuro: #3F3464;
$bronze: #8d6f37;

body {
    background-color: $laranja-claro;
    margin: 10px;
    height: 100%;
}

header {  
    position: fixed;
    background-color: $laranja;
    height: 162px;
    width: 100%;
    margin-top: -10px;

    #cadastro {
        position: relative;
        left: 90%;

    }
    #registro {
        margin-bottom: 16px;
        margin-top: 8px;
    }
        button {
            position: relative;
            top: 10px;
            border: none;
            background-color: $azul;
            padding-left: 40px;
            padding-right: 100%;
            padding-top: 10px;
            padding-bottom: 10px;

            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 18px;
            text-decoration: none;
            color:white;
            &:hover {
                background-color: $azul-escuro;
            }
        }
    
}

#preenchedor {
    height: 130px;
}

.logo-app {
    width: 307px;
    height: 130px;
    float: left;
    vertical-align: bottom;
}


h1 {
    color: $azul;
}

h2 {
    color: $azul;
    margin-top: 5%;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: $laranja;
}

table {
    background-color: $azul-claro;
    width: 100%;
}

tr {
    text-align: center;

    &.primeiro {
        background-color: gold;
    }

    &.segundo {
        background-color: silver;
    }

    &.terceiro {
        background-color: $bronze;
    }
}

.dropbtn {
    background-color: $laranja;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;

  }
  
.dropdown {
    position: absolute;
    left: -10px;
    top: -10px;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $laranja;
    min-width: 339px;
    min-height: 10px;
    box-shadow: 5px 0px 0px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {
    background-color: $azul;
    color: white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    top: 172px;
}
  
.dropdown:hover .dropbtn {
    background-color: $laranja;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
}

.img-perfis-direita {
    width: 300px;
    margin-right:5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    text-align:right;
    float: right;
}

.img-perfis-esquerda {
    width: 300px;
    margin-right:5%;
    margin-top: 5%;
    margin-left: 5%;
    text-align:left;
    float: left;
}

.descript-perfis {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: $laranja;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

.h2-perfis-direita {
    margin-left: 5%;
}

.espacamento {
    height: 100px;
}

