@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');
$laranja: #f27649;
$laranja-escuro: #ee551d;
$laranja-claro: #ff91005b;
$azul-claro: #25c0c580;
$azul: #426CB4;
$azul-escuro: #3F3464;
$bronze: #8d6f37;

/*Propriedades especificas*/

/* index.html */

.h1-index {
    text-align: center;
    padding: 20px;
    background-color: $azul;
    color: white;
    border-radius: 5rem;

}

.grid-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:20px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;;
}


.grid-index-item {
    display: grid; 
}

.grid-index-item img{
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: end;
    max-width: 100%;
    display: block;
}

.grid-index-item p {
    background: $azul;
    padding: 10px;
    color: white;
    grid-column: 1;
    grid-row: 2 / 3;
    align-self: end;
}

/*Mapa.html*/
@mixin mapa($left, $right) {
    left: $left;
    top: $right; 

    &:hover {
        left: $left - 8px;
        top: $right - 16px;
        img {
            width: 48px;
        }

        .fotos {
            width: 26%;
        }

        .legenda-quadra {
            font-size: 20px;
        }
    }
}

#mapa {
    background-image: url(mapa_rio.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 30%;
    top: 30%;

    height: 460px;
    width: 640px;

    button {
        position: absolute;

        background-color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);

        img {
            width: 32px;
        }

        .fotos {
            position:fixed;
            left: 2%;
            top: 220px;

            width: 0px;
        }

        .legenda-quadra {
            position: fixed;
            left: 2%;
            top: 500px;
            text-align: left;

            font-size: 0px;


        }
    }

    button:nth-child(1) {       
        @include mapa(550px, 200px)
    }

    button:nth-child(2) {
        @include mapa(300px, 300px)
    }

    button:nth-child(3) {
        @include mapa(140px, 300px)
    }

    button:nth-child(4) {
        @include mapa(440px, 100px)
    }

    button:nth-child(5) {
        @include mapa(380px, 200px)
    }

}


/*Ranking.html*/
table {
    background-color: $azul-claro;
    width: 100%;
}
tr {
    text-align: center;

    &.primeiro {
        background-color: gold;
    }

    &.segundo {
        background-color: silver;
    }

    &.terceiro {
        background-color: $bronze;
    }
}



/*Perfis.html*/
.perfis-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
$margin-perfis:60px;
.img-perfis{
    width: 350px;
    margin-top:$margin-perfis;
    margin-bottom: 5%;
}

.h2-perfis{
    margin-top:$margin-perfis;
}


/*Perfil-usuario.html*/
.mini-img{
    width: 6%;
}
.mini-img2{
    width: 30%;
}
.input-group-text {
    color: $azul;
  }/*Muda o padrão de cor da fonte do bootstrap*/


.grid-perfil-pessoal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1600px;
    margin: 0 auto;
    grid-gap: 30px;
    border-width: 2px;
    border-color: $azul;
    border-style: dotted;
}


.form-control {
    width: 70%;
    background-color: #fff;
    border: 1px solid $azul;
    border-radius: 2rem;
  }

  .input-group-text {
    color: #fff;
    background-color: $azul;
    border: 1px solid $azul;
    border-radius: 2rem;
  }

  .form-select {
    width: 50%;
    border: 1px solid $azul;
    border-radius: 2rem;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    
  }

.fonte-color{
    color: $azul;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*Registro.html*/

.form-control:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
    width: 102%;
    border-width: 2px;
    margin-right: 10px;
}

.form-control:focus::placeholder{
    color: transparent;
}

#Username:focus{
    border-width: 2px;
    width:80%;
}
#Username:focus .input-group-text{
    color:#86b7fe ;
}

.padding-a {
    padding: 10px;
    background-color: $azul;
    color: white;
    
}

.padding-a:hover{
    background-color: $azul-escuro;
    color: white;
}



