@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lacquer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap");
/*Propriedades especificas*/
/* index.html */
.h1-index {
  text-align: center;
  padding: 20px;
  background-color: #426CB4;
  color: white;
  border-radius: 5rem;
}

.grid-index {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
}

.grid-index-item {
  display: -ms-grid;
  display: grid;
}

.grid-index-item img {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  max-width: 100%;
  display: block;
}

.grid-index-item p {
  background: #426CB4;
  padding: 10px;
  color: white;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

/*Mapa.html*/
#mapa {
  background-image: url(mapa_rio.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  left: 30%;
  margin-top: 45px;
  height: 460px;
  width: 640px;
}

#mapa button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

#mapa button img {
  width: 32px;
}

#mapa button .fotos {
  position: fixed;
  left: 2%;
  top: 220px;
  width: 0px;
}

#mapa button .legenda-quadra {
  position: fixed;
  left: 2%;
  top: 500px;
  text-align: left;
  width: 26%;
  font-size: 0px;
}

#mapa button:nth-child(1) {
  left: 550px;
  top: 200px;
}

#mapa button:nth-child(1):hover {
  left: 542px;
  top: 184px;
}

#mapa button:nth-child(1):hover img {
  width: 48px;
}

#mapa button:nth-child(1):hover .fotos {
  width: 26%;
}

#mapa button:nth-child(1):hover .legenda-quadra {
  font-size: 20px;
}

#mapa button:nth-child(2) {
  left: 300px;
  top: 300px;
}

#mapa button:nth-child(2):hover {
  left: 292px;
  top: 284px;
}

#mapa button:nth-child(2):hover img {
  width: 48px;
}

#mapa button:nth-child(2):hover .fotos {
  width: 26%;
}

#mapa button:nth-child(2):hover .legenda-quadra {
  font-size: 20px;
}

#mapa button:nth-child(3) {
  left: 140px;
  top: 300px;
}

#mapa button:nth-child(3):hover {
  left: 132px;
  top: 284px;
}

#mapa button:nth-child(3):hover img {
  width: 48px;
}

#mapa button:nth-child(3):hover .fotos {
  width: 26%;
}

#mapa button:nth-child(3):hover .legenda-quadra {
  font-size: 20px;
}

#mapa button:nth-child(4) {
  left: 440px;
  top: 100px;
}

#mapa button:nth-child(4):hover {
  left: 432px;
  top: 84px;
}

#mapa button:nth-child(4):hover img {
  width: 48px;
}

#mapa button:nth-child(4):hover .fotos {
  width: 26%;
}

#mapa button:nth-child(4):hover .legenda-quadra {
  font-size: 20px;
}

#mapa button:nth-child(5) {
  left: 380px;
  top: 200px;
}

#mapa button:nth-child(5):hover {
  left: 372px;
  top: 184px;
}

#mapa button:nth-child(5):hover img {
  width: 48px;
}

#mapa button:nth-child(5):hover .fotos {
  width: 26%;
}

#mapa button:nth-child(5):hover .legenda-quadra {
  font-size: 20px;
}

/*Ranking.html*/
table {
  background-color: #25c0c580;
  width: 100%;
}

tr {
  text-align: center;
}

tr.primeiro {
  background-color: gold;
}

tr.segundo {
  background-color: silver;
}

tr.terceiro {
  background-color: #8d6f37;
}

/*Perfis.html*/
.perfis-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.img-perfis {
  width: 350px;
  margin-top: 60px;
  margin-bottom: 5%;
}

.h2-perfis {
  margin-top: 60px;
}

/*Perfil-usuario.html*/
.mini-img {
  width: 65%;
}

.mini-img2 {
  height: 80%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  margin-left: 20%;
}

#user {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  margin-top: -50px;
  margin-left: 10px;
}

#status {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
  margin-top: -50px;
}

#horario {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  grid-column: 2;
  margin-top: -55px;
}

#switch {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

#formulario {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
  margin-top: -60px;
}

#sobre-mim {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
  margin-top: -50px;
}

.input-group-text {
  color: #426CB4;
}

/*Muda o padrão de cor da fonte do bootstrap*/
.grid-perfil-pessoal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  max-width: 1600px;
  margin: 0 auto;
  grid-gap: 70px;
  border-width: 2px;
  border-color: #b6b9bc;
  border-style: solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control {
  width: 70%;
  background-color: #fff;
  border: 1px solid #426CB4;
  border-radius: 2rem;
}

.input-group-text {
  color: #fff;
  background-color: #426CB4;
  border: 1px solid #426CB4;
  border-radius: 2rem;
}

.form-select {
  width: 50%;
  border: 1px solid #426CB4;
  border-radius: 2rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.fonte-color {
  color: #426CB4;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*Registro.html*/
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 102%;
  border-width: 2px;
  margin-right: 10px;
}

.form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.form-control:focus::placeholder {
  color: transparent;
}

#Username:focus {
  border-width: 2px;
  width: 60%;
}

#Username:focus .input-group-text {
  color: #86b7fe;
}

.padding-a {
  padding: 10px;
  background-color: #426CB4;
  color: white;
}

.padding-a:hover {
  background-color: #3F3464;
  color: white;
}
/*# sourceMappingURL=prop-especificas.css.map */