

$laranja1 : #fd4b05e1;
$black: #1B2029;
$b: rgb(250, 251, 255);
$laranja: #f27649;
$laranja-escuro: #ee551d;
$laranja-claro: #ff91005b;
$azul-claro: #25c0c580;
$azul: #426CB4;
$azul-escuro: #3F3464;
$bronze: #8d6f37;

body {
    background: $laranja1;
    color: $b;
    font-weight: 500;
   
}

