$laranja1 : #fd4b05e1;
$black: #1B2029;
$b: rgb(250, 251, 255);

.form-background {
    background: $laranja1;
    color: $b;
   
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;

    background: $azul-escuro;
    
}

