{% extends "main.html" %}
{% block body %}
{% load static %}

<div class="grid-index">

    <div class="grid-index-item">
        <a href="{% url 'index-imc' %}"><p>IMC</p></a>       
    </div>

    <div class="grid-index-item">
        <a href="{% url 'index-ge' %}"><p>Esportes Favoritos por Gênero</p></a>       
    </div>

    <div class="grid-index-item">
        <a href="{% url 'index-preco-quadras' %}"><p>Preço das Quadras</p></a>       
    </div>

    <div class="grid-index-item">
        <a href="{% url 'index-imc' %}"><p>IMC</p></a>       
    </div>


</div>



{% endblock %}