{% extends "main.html" %}
{% block body %}
{% load static %}
    
    <div class="chat-div">
        <div class="div-conv-prim">
            <div><strong class="mensagem">Mensagem exemplo 1</strong></div>
            <div><strong class="mensagem">Mensagem exemplo 2</strong></div>
            <div><strong class="mensagem-user">Mensagem exemplo 3</strong></div>
            <div><strong class="mensagem">Mensagem exemplo 4</strong></div>
            <div><strong class="mensagem-user">Mensagem exemplo 5</strong></div>
 
            <div><form>
                <input id="input-chat" type="text">
                <button>
                    <img id="share" src="{% static 'images/share-square.png' %}" alt="Enviar"/>
                </button>
            </form></div>
        </div>
        <div class="div-conv-terc"><p id="chat-titulo">Chat Match Finder (estático)</p></div>
        <div class="div-conv-sec" id="primeiro-chat"><img class="chat-miniatures-small" src="{% static 'images/circular(1).png'%}" alt="circular"><strong>Janaina</strong></div>
        <div class="div-conv-sec"><img class="chat-miniatures-small" src="{% static 'images/circular(2).png'%}" alt="circular"><strong>Luca</strong></div>
        <div class="div-conv-sec"><img class="chat-miniatures-small" src="{% static 'images/circular(3).png'%}" alt="circular"><strong>Felipe</strong></div>
        <div class="div-conv-sec"><img class="chat-miniatures-small" src="{% static 'images/circular(4).png'%}" alt="circular"><strong>Quadra Macae</strong></div>
        <div class="div-conv-sec"><img class="chat-miniatures-small" src="{% static 'images/circular(5).png'%}" alt="circular"><strong>Basquete Quinta</strong></div>
        <div class="div-conv-quat" ></div>
    </div>

{% endblock body %}