{% extends "main.html" %}
{% block body %}
{% load static %}

    <h1 class="h1-index">ÚLTIMAS NOTÍCIAS</h1>

    <div class="grid-index ">

        <div class="grid-index-item">
            <img src="{% static 'images/index/campeonato1.jpg'%}" alt="campeonato1">
            <p>Time da Janaina vence Time do Lamarca por 3x2 no futebol</p>
        </div>

        <div class="grid-index-item">
            <img src="{% static 'images/index/campeonato4.jpg'%}" alt="campeonato4">
            <p>Time do Luca vence Time do Guilherme por 3 sets a 2</p>
        </div>

        <div class="grid-index-item">
            <img src="{% static 'images/index/campeonato2.jpg'%}" alt="campeonato2">
            <p>Time do Guilherme vence Time do Lamarca no basquete</p>
        </div>

        <div class="grid-index-item">
            <img src="{% static 'images/index/campeonato3.jpg'%}" alt="campeonato3">
            <p>Brasil campeão!</p>
        </div>


    </div>
{% endblock body%}


