{% extends 'main.html' %}
{% load static %}


{% block body %}
  <div class="container">
    <div class="py-3 text-center"  >    

      <h2> Login </h2>  
    </div>


    
    <form class="form-signin">
          <div class="col-md-12 mb-3 fonte-color">
            <label for="Username">Nome de Usuário</label>
            <div class="input-group has validation">
              <span class="input-group-text" id="inputGroupPrepend3">@</span>
              <input type="text" class="form-control" id="Username" placeholder="Digite seu nome de usuário..." >  
            </div>
          </div>

          <div class="col-md-12 mb-3 fonte-color">
              <label id="password_label" for="password">Senha</label>
              <input id="password" name="password" type="password" class="form-control" placeholder="Digite sua senha..." />
          </div>

      

          <div class="checkbox md-5 mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Lembre de mim
            </label>
          </div>

          <div class="d-grid gap-2">
            <a href="perfil-usuario.html" class="btn btn-primary"> Entrar</a>
          </div>


    </form>

    
  </div>
{% endblock body%}
