{% extends "main.html" %}
{% block body %}
{% load static %}
    <div id="mapa">
        <button>
            <img src="{% static 'images/mfinder32.png'%}" alt="Quadra esportiva"/>
            <img class="fotos" src="{% static 'images/quadra1.jpg'%}" alt="foto quadra">
            <strong class="legenda-quadra">
                Esportes: Vôlei de praia <br>
                Avaliação: 4.8 &#x2b50; <br>
                Preço: R$15,00/h
            </strong>
        </button>       
        <button>
            <img src="{% static 'images/mfinder32.png'%}" alt="Quadra esportiva"/>
            <img class="fotos" src="{% static 'images/quadra2.jpg'%}" alt="foto quadra">
            <strong class="legenda-quadra">
                Esportes: Basquete, vôlei e futsal <br>
                Avaliação: 5 &#x2b50; <br>
                Preço: R$25,00/h
            </strong>
        </button>
        <button>
            <img src="{% static 'images/mfinder32.png'%}" alt="Quadra esportiva"/>
            <img class="fotos" src="{% static 'images/quadra3.jpg'%}" alt="foto quadra">
            <strong class="legenda-quadra">
                Esportes: Basquete, vôlei e futsal <br>
                Avaliação: 4.3 &#x2b50; <br>
                Preço: R$10,00/h
            </strong>
        </button>
        <button>
            <img src="{% static 'images/mfinder32.png'%}" alt="Quadra esportiva"/>
            <img class="fotos" src="{% static 'images/quadra4.jpg'%}" alt="foto quadra">
            <strong class="legenda-quadra">
                Esportes: Futsal <br>
                Avaliação: 3.8 &#x2b50; <br>
                Preço: R$8,00/h
            </strong>
        </button>
        <button>
            <img src="{% static 'images/mfinder32.png'%}" alt="Quadra esportiva"/>
            <img class="fotos" src="{% static 'images/quadra5.jpg'%}" alt="foto quadra">
            <strong class="legenda-quadra">
                Esportes: Basquete e futsal <br>
                Avaliação: 4.5 &#x2b50; <br>
                Preço: R$15,00/h
            </strong>
        </button>
    </div>
{% endblock %}