<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/main.css" rel="stylesheet" />
    <title>Os desenvolvedores</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon' sizes="32x32" />
</head>

<body>
    <header>
        <div class="dropdown">
            <button class="dropbtn">        <img class="logo-app" src="images/logo.png" alt="Match Finder Logo" /></button>
            <div class="dropdown-content">
                <a href="index.html">Início</a>
                <a href="projeto.html">O projeto</a>
                <a href="mapa.html">Mapa</a>
                <a href="ranking.html">Ranking</a>
                <a href="perfis.html">Os desenvolvedores</a>
            </div>
        </div>
        <div class="titulo">  
            <h1>OS DESENVOLVEDORES</h1>
        </div>
        <div id="cadastro">
            <button id="registro" onclick="window.location='registro.html';"> Registro</button>
            <button id="login" onclick="window.location='login.html';"> Login</button>
        </div>
    </header>
    <div id="preenchedor"></div>
    <div class="perfis-flex">
        <div>
        <img class="img-perfis" src="images/felipe.jpg" alt="Foto de Felipe Lamarca"/>
        <ul class="float-right">
            <li> <a href="https://www.linkedin.com/in/felipe-lamarca-893a541a1/" target="_blank"><img class="icones" src="images/linkedin.png" alt="imagem linkedin"/></a> </li>
            <li> <a href="https://github.com/felipelmc" target="_blank"><img class="icones" src="images/github.png" alt="imagem github"/></a></li>
            <li> <a href="mailto:felipe.lamarca@hotmail.com" target="_blank"><img class="icones" src="images/envelope.png" alt="imagem email"/></a> </li>
            <li> <a href="https://open.spotify.com/user/12153580797?si=cbf8bbeaa297490c" target="_blank"><img class="icones" src="images/spotify.png" alt="imagem spotify"/></a> </li> 
        </ul>
        </div>
        <div>
            <h2 class="h2-perfis">Felipe Lamarca</h2>
            <p class="descript-perfis" >
            Aluno de Ciências Sociais (FGV CPDOC) e de Ciência de Dados e Inteligência Artificial (FGV EMAp). <br>
            Hobbies: ler, ouvir música, sair com os amigos e jogar online. <br>
            Esportes preferidos: Vôlei e futebol. <br>
            Time do coração: Clube de Regatas do Flamengo.
            </p>
        </div>    
    </div>

    <div class="perfis-flex">
        <div>
            <h2 class="h2-perfis">Luca Escopelli</h2>
            <p class="descript-perfis">
            Aluno de Matemática Aplicada (FGV EMAp). <br>
            Hobbies: Assistir séries, jogar jogos online, resolver cubo mágico e sair com os amigos. <br>
            Esportes preferidos: Futebol, atletismo e curling. <br>
            Time do coração: São Paulo. 
            </p>
            
        </div>
       <div>
       <img class="img-perfis" src="images/luca.jpg" alt="Foto de Luca Escopelli"/>
       <ul class="float-left lista">
            <li> <a href="https://www.linkedin.com/in/luca-escopelli-511bb1195/" target="_blank"><img class="icones" src="images/linkedin.png" alt="imagem linkedin"/></a> </li>
            <li> <a href="https://github.com/LucaEscopelli" target="_blank"><img class="icones" src="images/github.png" alt="imagem github"/></a></li>
            <li> <a href="mailto:luca.escopelli@gmail.com" target="_blank"><img class="icones" src="images/envelope.png" alt="imagem email"/></a> </li>
            <li> <a href="https://open.spotify.com/user/lucamix7?si=1f8790d8526e48aa" target="_blank"><img class="icones" src="images/spotify.png" alt="imagem spotify"/></a> </li>  
        </ul>

        </div>
    </div>

    <div class="perfis-flex">
        <div>
        <img class="img-perfis" src="images/guilherme.png" alt="Foto de Guilherme Melo"/>
        <ul class="float-right">
            <li> <a href="https://www.linkedin.com/in/guilherme-gon%C3%A7alves-67186b203/" target="_blank"><img class="icones" src="images/linkedin.png" alt="imagem linkedin"/></a> </li>
            <li> <a href="https://github.com/guilherme-melo" target="_blank"><img class="icones" src="images/github.png" alt="imagem github"/></a></li>
            <li> <a href="mailto:guilherme.goncalves.2@fgv.edu.br" target="_blank"><img class="icones" src="images/envelope.png" alt="imagem email"/></a> </li>
            <li> <a href="https://open.spotify.com/user/at7042s9r4ml5paunu6nt1dip?si=a4108fc42fdd40a1" target="_blank"><img class="icones" src="images/spotify.png" alt="imagem spotify"/></a> </li> 
        </ul>
        </div>
        <div>
            <h2 class="h2-perfis">Guilherme Melo</h2>
            <p class="descript-perfis">
            Aluno de Ciência de Dados e Inteligência Artificial (FGV EMAp).<br>
            Hobbies: Encontrar amigos, jogar jogos eletronicos, praticar esportes e ouvir música.<br>
            Esportes preferidos: Handebol, Volei e Basquete.<br>
            Time do coração: Vascão<br>
            </p>
        </div>
    </div>
    
    <div class="perfis-flex">
        <div>
            <h2 class="h2-perfis">Janaina Neres</h2>
            <p class="descript-perfis">
            Aluna de Matemática Aplicada (FGV EMAp). <br>
            Hobbies: Praticar esportes, assistir séries e sair com os amigos. <br>
            Esportes preferidos: Futebol, Futsal, Voleibol e Skate . <br>
            Time do coração: Clube de Regatas do Flamengo.
            </p>
        </div>
        <div>
        <img class="img-perfis" src="images/janaina.jpg" alt="Foto de Janaina Neres"/>
        <ul class="float-left lista">
            <li> <a href="#" target="_blank"><img class="icones" src="images/linkedin.png" alt="imagem linkedin"/></a> </li>
            <li> <a href="https://github.com/JanainaNeres" target="_blank"><img class="icones" src="images/github.png" alt="imagem github"/></a></li>
            <li> <a href="mailto:janaina.evangelistaneres@gmail.com" target="_blank"><img class="icones" src="images/envelope.png" alt="imagem email"/></a> </li>
            <li> <a href="#" target="_blank"><img class="icones" src="images/spotify.png" alt="imagem spotify"/></a></li>  
             
        </ul>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Match Finder - 2021</p>
    </footer>
<script src="js/boostrap.bundle.min.js"></script>
</body>
</html>
    