{% extends "main.html" %}
{% block body %}
{% load static %}

    <h2 style="margin-top: 1%;">Sobre o app</h2>
    <p>
        Match Finder é um aplicativo inovador de encontros para revolucionar a experiência da prática esportiva. Nossa plataforma possui um mapa indicando quadras dos mais diversos esportes a fim de proporcionar o encontro de atletas motivados. <br>
        Temos também um canal de chat para facilitar a definição de horários para a prática esportiva. <br>
        Possibilitamos a criação de equipes e mostramos um ranking das melhores equipes de acordo com o número de jogos e vitórias.
    </p>

    <h2>Como usar</h2>
    <p>
        Conectado em sua conta, acesse a página do mapa para encontrar as quadras mais próximas à sua região. Selecionando uma quadra você entrará em contato com outros atletas interessados em jogar naquele local. <br>
        Após o primeiro contato, utilize a página do chat para combinar o melhor horário para todos. <br>
        Combinado o horário, basta aparecer no dia e horário marcados e aproveitar com a galera.
    </p>

    <h2>Cadastro</h2>
    <p>O cadastro é fácil e rápido. Entre na página de registro, preencha seus dados, escolha uma equipe e pronto! Você já está apto a buscar partidas.</p>

{% endblock %}