{% extends 'reg_log-template.html' %}
{% load static %}




{% block styles %}
  <link href="{% static 'styles/main.css'%}" rel="stylesheet" />
{% endblock %}


{% block content %}
      <div class="container">
        <div class="py-3 text-center"  >
          <img class="mb-3 d-block mx-auto" src="{% static 'images/logo.png' %}" alt="Match Finder"
          width="300" height="120" >

          <h2> Registro </h2>
          <p class="lead" > Preenchar os campos abaixo para fazer parte da Match Finder! </p>
        </div>
      </div>

      <div class="container">
      <form>
        <div class="row g-3">
          <div class="col-md-5 mb-3 fonte-color">
            <div class="mb-3">
                <label id="first_name_label" for="first_name">Primeiro Nome</label>
                <input id="first_name" name="first_name" type="text" class="form-control" placeholder="Digite seu primeiro nome..." />
            </div>
          </div>
          <div class="col-md-7 mb-3 fonte-color">
              <label id="last_name_label" for="last_name">Sobrenome</label>
              <input id="last_name" name="last_name" type="text" class="form-control" placeholder="Digite seu sobrenome..."/>
          </div>
        </div>

        
      
        

        <div class="row g-3" style="top: -10px;" >
          <div class="col-md-12 mb-3 fonte-color">
            <label id="email_label" for="email">Email </label>
            <input id="email" name="email" type="email" class="form-control" placeholder="Digite seu email..."/>
          </div>
        </div>


        <div class="row g-3">
          <div class="col-md-6 mb-3 fonte-color">
            <label for="Username">Nome de Usuário</label>
            <div class="input-group has validation">
              <span class="input-group-text" id="inputGroupPrepend3">@</span>
              <input type="text" class="form-control" id="Username" placeholder="Digite seu nome de usuário..." required>
              
            </div>
          </div>

          <div class="col-md-6 mb-3 fonte-color ">
            <label id="password_label" for="password">Senha </label>
            <input id="password" name="password" type="password" class="form-control"  placeholder="Digite sua senha..."/>
          </div>
        </div>

        <div class="row g-3">
          <div class="col-md-6 mb-3 fonte-color">
            
              <label id="city_label" for="city">Cidade</label>
              <input id="city" name="city" type="text" class="form-control" placeholder="Digite o nome de sua cidade..."/>
            
          </div>

          <div class="col-md-3 mb-3 fonte-color">
            <label id="cep_label"> CEP </label>
            <input id="cep" name="cep" type="text" class="form-control" placeholder="Digite o cep..."/>
          </div>

          <div class="col-md-3 mb-3 fonte-color">
            <div class="select">
                <label id="estado_label" for="estado"> Estado</label>
                <div class="input-group mb-3">
                    <select id="estado" name="estado" class="form-control form-select" >
                        <option selected disabled value="">Seu estado:</option>
                        <option>Rio de Janeiro</option>
                        <option>São Paulo</option>
                        <option>Tocantins</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
          </div>



        </div>


        

        <div class="col-12">

          <div class="form-check mb-3">
              <input id="termos" name="termos" type="checkbox" class="form-check-input" value="" />
              <label id="termos_label" class="form-check-label" for="termos"> Agree to terms and conditions  </label>
          </div>
        </div>
      
        

      
        

        
        
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" onclick="window.location='index.html';">Voltar para página inicial</button>
          <a class="padding-a" href="perfil-usuario.html">Finalizar</a>
          
        </div>
        
      </form>

      </div>
    
{% endblock %}


{% block js %}
  <link href="{% static 'styles/js/boostrap.bundle.min.js'%}" rel="stylesheet" />
{% endblock %}

