{% load static %}
<header>
    <div class="dropdown">
        <button class="dropbtn"><img class="logo-app" src="{% static 'images/logo.png' %}" alt="Match Finder Logo" /></button>
        <div class="dropdown-content">
            <a href="/">Início</a>
            <a href="/projeto">O projeto</a>
            <a href="/mapa">Mapa</a>
            <a href="/ranking">Ranking</a>
            <a href="/perfis">Os desenvolvedores</a>
        </div>
    </div>
    <div class="titulo">  
        <h1>INÍCIO</h1>
    </div>  
    <div id="cadastro">
        <button id="registro" onclick="window.location='/registro';"> Registro</button>
        <button id="login" onclick="window.location='/login';"> Login</button>
    </div>
</header>
<div id="preenchedor"></div>
