<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='icon' href="{% static 'images/favicon.ico}" type='image/x-icon' sizes="32x32" />

    {% block head %}
      <title> Match Finder</title>
    {% endblock %}

  </head>

    {% block styles %}
    {% endblock %}

  <body>
    
    {% block content  %}

    <p>"Match finder : "O MILIOR APP"</p>

    <br> 
    {% endblock %}

    {% include 'footer_rl.html' %}

    

  </body>



  {% block js %}
      <script src="static/js/boostrap.bundle.min.js"></script> 
  {% endblock %}

</html>
